:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    background-color: gray;
}

#grid {
    display: grid;
    position: absolute;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    padding: 0px;
    margin: 1% 50% 0% 0.5%;
    top: 10%;
    left: 7%;
}

.grid-item {
    display: grid;
    background-color:white;
    width: 16px;
    height: 16px;
}

.colorBlack {
    position: absolute;
    padding: 25px;
    margin: 0px;
    background-color: black;
    border: 5px solid black;
    top: 0%;
    left: 0%;
}

.colorWhite {
    position: absolute;
    padding: 25px;
    margin: 0px;
    background-color: white;
    border: 5px solid black;
    top: 0%;
    left: 3%;
}

.colorRed {
    position: absolute;
    padding: 25px;
    margin: 0px;
    background-color: red;
    border: 5px solid black;
    top: 0%;
    left: 6%;
}

.colorBlue {
    position: absolute;
    padding: 25px;
    margin: 0px;
    background-color: blue;
    border: 5px solid black;
    top: 0%;
    left: 9%;
}

.colorGreen {
    position: absolute;
    padding: 25px;
    margin: 0px;
    background-color: green;
    border: 5px solid black;
    top: 0%;
    left: 12%;
}

.colorYellow {
    position: absolute;
    padding: 25px;
    margin: 0px;
    background-color: yellow;
    border: 5px solid black;
    top: 0%;
    left: 15%;
}

.colorRainbow {
    position: absolute;
    padding: 25px;
    margin: 0px;
    background-color: white;
    border: 5px solid black;
    top: 0%;
    left: 18%;
}


@keyframes rainbow {
    0% {background-color: red;}
  33%  {background-color: blue;}
  66%  {background-color: lime;}
  100% {background-color: red;}
}